{% extends "main.html" %}
{% import "form_macros.html" as fm %}

{% block title %}Log In{% endblock %}

{% block content %}
    <h1>Log In to Time Machine</h1>
    <form method="POST">
        {{ form.csrf_token }}
        {{ fm.field(form, 'email') }}
        {{ fm.field(form, 'password') }}
        {{ form.submit(class_="btn btn-primary") }}
    </form>
    <div class="row col-6 mt-4 mb-4">
        <div class="col"><hr></div>
        <div class="col-auto">OR</div>
        <div class="col"><hr></div>
    </div>
    <a class="btn btn-outline-primary" href="{{ url_for('signup') }}">Create an Account</a>
{% endblock %}
