{% extends "main.html" %}
{% import "form_macros.html" as fm %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <h1>Sign Up for an Account</h1>
    {{ fm.error_header(form) }}
    <form method="POST">
        {{ form.csrf_token }}
        {{ fm.field(form, 'email') }}
        {{ fm.field(form, 'first_name') }}
        {{ fm.field(form, 'last_name') }}
        {{ fm.field(form, 'team_id') }}
        {{ fm.field(form, 'password') }}
        {{ fm.field(form, 'password_repeat') }}
        {{ form.submit(class_="btn btn-primary") }}
    </form>
{% endblock %}
