{% extends 'main.html' %}
{% import "form_macros.html" as fm %}

{% block title %}Detailed Time Entry{% endblock %}

{% block content %}
    <h1 class="my-2">Enter Time</h1>
    {{ fm.error_header(form) }}
    <form method="POST">
        {{ form.csrf_token }}
        {{ fm.field(form, 'project_id') }}
        <div class="form-row">
            {{ fm.field_inline(form, 'start_date') }}
            {{ fm.field_inline(form, 'start_time') }}
            {{ fm.field_inline(form, 'stop_date') }}
            {{ fm.field_inline(form, 'stop_time') }}
            <div class="form-group">
                <label>Duration</label>
                <div id="duration" class="h5 py-2">0 m</div>
            </div>
        </div>
        {{ fm.field(form, 'description') }}
        {{ form.submit(class_="btn btn-primary", disabled=True) }}
    </form>
{% endblock %}

{% block local_javascript %}
    <script>
        {# Initialize form #}
        $(function () {
            var current_date = moment().format('YYYY-MM-DD');
            var current_time = moment().format('HH:MM');

            $('#start_date').val(current_date);
            $('#stop_date').val(current_date);
            $('#start_time').val(current_time);
            $('#stop_time').val(current_time);
        });

        {# Update end date/time when start changes. #}
        $('#start_date').change(function () {
            $('#stop_date').val($(this).val());
        });

        $('#start_time').change(function () {
            $('#stop_time').val($(this).val());
        });

        {# Calculate the time difference #}

        function compute_time_difference() {
            var start_dt = moment($("#start_date").val() + " " + $("#start_time").val());
            var stop_dt = moment($("#stop_date").val() + " " + $("#stop_time").val());
            return stop_dt.diff(start_dt, 'minutes');
        }

        {# Format the difference in readable form #}

        function format_difference(difference) {
            return moment.duration(difference, 'minutes').format("d [d] h [h] m [m]");
        }

        {# Update the UI #}

        function update_controls() {
            var time_difference = compute_time_difference();
            var description_length = $('#description').val().length;

            if (time_difference >= 0) {
                $('#duration').text(format_difference(time_difference));
            } else {
                $('#duration').text('Invalid');
            }

            $('#submit').prop('disabled', time_difference <= 0 || description_length <= 0);
        }

        $('#start_date,#stop_date,#start_time,#stop_time').change(function () {
            update_controls();
        });

        $('#description').on("change paste keyup", function () {
            update_controls();
        });
    </script>
{% endblock %}