{% extends 'main.html' %}

{% block title %}Bulk Time Entry{% endblock %}

{% block content %}
    <h1 class="my-2">Enter Time</h1>
    {% include "_form_errors.html" %}
    <form method="POST">
        {{ form.csrf_token }}
        <div class="form-row">
            <div class="form-group col-4">
                {{ form.project_id.label }}
                {{ form.project_id(class_="form-control") }}
            </div>
        </div>

        {# Headings #}
        <div class="form-row">
            <div class="col-3">Date</div>
            <div class="col-2">Duration</div>
            <div class="col-7">Description</div>
        </div>

        {% for idx in range(entry_count) %}
            <div class="form-row">
                <div class="col-3">
                    <input class="form-control" id="date-{{ idx }}" name="date-{{ idx }}" type="date" value>
                </div>
                <div class="col-2">
                    <input class="form-control" id="duration-{{ idx }}" name="duration-{{ idx }}"
                           placeholder="e.g. 1.75" type="text" value=>
                </div>
                <div class="col-7">
                    <input class="form-control" id="description-{{ idx }}" name="description-{{ idx }}" type="text" value>
                </div>
            </div>
        {% endfor %}

        {{ form.submit(class_="btn btn-primary") }}
    </form>
{% endblock %}
