{% extends "base.html" %}

{% block body %}
    <div class="container">
        <header>
            <nav class="navbar navbar-expand-md navbar-light bg-light">
                <a class="navbar-brand" href="{{ url_for('index') }}">Time Machine</a>
                <ul class="nav">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('time_sheet') }}">Time Sheet</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('time_entry') }}">Time Entry</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Log Out</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Log In</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        {% for message in get_flashed_messages() %}
            <div class="alert alert-primary">{{ message }}</div>
        {% endfor %}

        <div class="container">
            {% block content %}
                DEFAULT CONTENT
            {% endblock %}
        </div>

        <footer>
            <div class="row">
                <div class="col">
                    &copy; Copyright 2018 by Tom Nurkkala
                </div>
                <div class="col">
                    <h4>Links</h4>
                    <ul class="list-unstyled">
                        <li><a class="text-muted" href="#">Source</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}