{% extends "base.html" %}

{% block body %}
    <div class="container">
        <header>
            <nav class="navbar navbar-expand-md navbar-light bg-light">
                <a class="navbar-brand" href="{{ url_for('index') }}">
                    <img src="{{ url_for('static', filename='persistence-of-memory.jpg') }}"
                         height="50" alt="Dali was weird">
                    Time Machine
                </a>
                <ul class="navbar-nav mr-auto">
                    {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('index') }}">View Time Sheet</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#"
                               id="timeEntryDropdown" data-toggle="dropdown">Enter Time</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ url_for('enter_detailed_time') }}">Detailed</a>
                                <a class="dropdown-item" href="{{ url_for('enter_bulk_time') }}">Bulk</a>
                            </div>
                        </li>

                        {% if current_user.is_superuser %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#"
                                   id="adminDropdown" data-toggle="dropdown">Manage</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ url_for('all_courses') }}">Courses</a>
                                    <a class="dropdown-item" href="{{ url_for('all_teams') }}">Teams</a>
                                    <a class="dropdown-item" href="{{ url_for('all_projects') }}">Projects</a>
                                    <a class="dropdown-item" href="{{ url_for('all_accounts') }}">Accounts</a>
                                </div>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>

                <ul class="navbar-nav">
                    {% if current_user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#"
                               id="accountDropdown" role="button"
                               data-toggle="dropdown">
                                {{ current_user.first_name }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="accountDropdown">
                                <a class="dropdown-item"
                                   href="{{ url_for('account_details', account_id=current_user.id) }}">Your Account</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ url_for('logout') }}">Log Out</a>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning alert-dismissible fade show my-2" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}

        <div class="container">
            {% block content %}
                DEFAULT CONTENT
            {% endblock %}
        </div>

        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col">
                    <h4>About</h4>
                    &copy; Copyright 2018 by Tom Nurkkala
                </div>
                <div class="col">
                    <h4>Links</h4>
                    <ul class="list-unstyled">
                        <li>
                            <a class="text-muted" href="https://github.com/faraday-effect/time-machine">Source Code</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}