<div class="form-row">
    <div class="form-group col-4">
        {{ form.designation.label }}
        {{ form.designation(class_="form-control") }}
    </div>
</div>
<div class="form-row">
    <div class="form-group col-4">
        {{ form.name.label }}
        {{ form.name(class_="form-control") }}
    </div>
</div>
<div class="form-row">
    <div class="form-group col-4">
        {{ form.semester.label }}
        {{ form.semester(class_="form-control") }}
    </div>
</div>
<div class="form-row">
    <div class="form-group col-4">
        {{ form.year.label }}
        {{ form.year(class_="form-control") }}
    </div>
</div>
